ul {
    font-size: 35px;
    background-color: rgba(18, 101, 209, 0.46);
}
li {
    font-size: 20px;

}
li:link {
    color :rgb(116, 44, 44)
}
li :hover {
    color :rgb(202, 185, 85);
    height: 11px;

}
li:visited {
    color : rgb(8, 90, 8)
}
li:first-child {

}
ol {
    background-color: rgb(94, 93, 71);
}